html,
body {
  height: 100%;
  font-family: $font-family;
}

body {
  background-color: $color-background;
}

.app {
  margin: 0 auto;
  padding-top: 30px;
}

.container {
  width: 100%;
  margin: 0 auto;

  @include mq(sm) {
    max-width: 875px;
  }
}

.content {
  background-color: #fff;
  font-size: 14px;

  padding: 15px 15px 25px 15px;

  border: 1px solid #d1d5db;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.navbar {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-size: 12px;
  font-family: $font-family-secondary;

  & > .container {
    height: 100%;
  }

  &-menu {
    height: 100%;
    padding: 0 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    background-color: $color-text;

    a {
      color: rgb(190, 190, 190);
      text-decoration: none;
    }
  }

  &-start,
  &-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &-item {
    margin: 0 10px;

    .active {
      color: #fff;
    }

    &:hover {
      color: #fff;
    }
  }

  &-brand {
    a {
      font-weight: bold;
      color: #fff;
    }
  }

  &-user {
    margin: 0 5px;

    &:hover {
      color: #fff;
    }
  }
}

.footer {
  width: 100%;
  margin: 20px 0;
  margin-bottom: 60px;

  & > div {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: $font-family-secondary;
    font-size: 12px;
  }

  .link {
    color: $color-coolGray-400;

    &:hover {
      text-decoration: none;
      color: $color-coolGray-500;
    }
  }
}

.form {
  width: 100%;
  box-sizing: border-box;
}

.news {
  margin: 7.5px 0;

  &-head {
    display: grid;
    grid-template-columns: 27px 1fr;
    grid-template-rows: auto auto;
    column-gap: 2px;
    row-gap: 0px;
  }

  &-head-small {
    grid-template-columns: 14px 1fr;
  }

  &-content {
    margin: 20px 0 0 14px;
  }

  &-pre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    margin-bottom: 4px;
  }

  &-header {
    margin-bottom: 4px;
  }

  &-footer {
    color: $color-coolGray-400;
    font-size: 12px;
  }

  &-header,
  &-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-index {
    color: $color-coolGray-400;
    font-size: 14px;
  }

  &-link {
    color: $color-text-dark;
    text-decoration: none;
  }

  &-info {
    color: $color-coolGray-400;
    text-decoration: none;

    &:hover {
      color: #6b7280;
      text-decoration: underline;
    }
  }

  &-link:visited {
    color: #6b7280;
  }

  &-discussion,
  &-domain {
    color: $color-coolGray-400;
    margin-left: 5px;
    font-size: 12px;
  }

  &-domain:hover {
    color: #6b7280;
  }

  &-title {
    display: inline-block;
    max-width: 900px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

.item {
  &-comment,
  &-form {
    margin: 30px 14px 0 14px;

    & > form {
      display: inline-flex;
      flex-direction: column;
    }
  }
}

.comments {
  margin-top: 30px;
  padding-right: 14px;
}

.comment {
  &-wrapper {
    display: flex;
    flex-direction: row;
  }

  &-content {
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-template-rows: auto auto;
    column-gap: 2px;
    row-gap: 15px;

    line-height: 1.2;
  }

  .link {
    text-decoration: underline;
    font-size: 12px;
  }

  &-header,
  &-footer {
    color: $color-coolGray-400;
    font-size: 12px;

    .link {
      color: $color-coolGray-400;
      margin: 0;
      text-decoration: none;
    }
  }

  &-toggle {
    color: $color-coolGray-400;
    font-size: 11px;
    cursor: pointer;
    user-select: none;
  }
}

.profile {
  width: 500px;
  margin: 5px 0 20px 14px;

  .grid {
    display: grid;

    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
  }
}

.form {
  &-field {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
  }

  &-button {
    font-size: 14px;
    margin: 20px 0 12px 0;
  }
}

.input,
.textarea,
.form-input {
  font-family: $font-family;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.05);
  border-color: #dbdbdb;
  // border-radius: 0.375em;
  border: 1px solid #ddd;

  font-size: 14px;
  line-height: 1.2;
  padding: 4px 7.5px;

  min-width: 35%;
}

.input {
  margin-top: 10px;
}

.textarea-full {
  width: 100%;
  box-sizing: border-box;
}

.help {
  color: $color-coolGray-400;
  font-size: 12px;
  margin-top: 5px;
}

.arrow-vote {
  width: 0;
  height: 1px;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;

  border-bottom: 9px solid $color-coolGray-400;
  cursor: pointer;

  margin: 0;
  margin-right: 3px;

  &:hover {
    border-bottom: 9px solid #6b7280;
  }
}

.separator:before {
  content: "\007c";
  margin: 0 5px;
}

.title {
  color: $color-text;
  font-size: 22px;
  font-weight: bold;
  margin: 0.5rem 0 1.25rem 0;
}

.section {
  margin-left: 14px;
  margin-bottom: 20px;
}

.link {
  color: $color-text;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.spacer {
  margin: 20px;
  height: 1px;
}

.label {
  margin-top: 15px;
  margin-bottom: 10px;
}

.markdown {
  float: right;

  &-container {
    margin-top: 3px;
  }

  path {
    fill: $color-coolGray-400;
  }

  &:hover path {
    fill: #6b7280;
  }
}

.hidden {
  display: none;
}
