html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: #f6f8fa;
}

.app {
  margin: 0 auto;
  padding-top: 30px;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 875px;
  }
}

.content {
  background-color: #fff;
  font-size: 14px;
  padding: 15px 15px 25px 15px;
  border: 1px solid #d1d5db;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.navbar {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-size: 12px;
  font-family: Ubuntu Mono, Consolas, Menlo, monospace;
}
.navbar > .container {
  height: 100%;
}
.navbar-menu {
  height: 100%;
  padding: 0 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #24292f;
}
.navbar-menu a {
  color: #bebebe;
  text-decoration: none;
}
.navbar-start, .navbar-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar-item {
  margin: 0 10px;
}
.navbar-item .active {
  color: #fff;
}
.navbar-item:hover {
  color: #fff;
}
.navbar-brand a {
  font-weight: bold;
  color: #fff;
}
.navbar-user {
  margin: 0 5px;
}
.navbar-user:hover {
  color: #fff;
}

.footer {
  width: 100%;
  margin: 20px 0;
  margin-bottom: 60px;
}
.footer > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu Mono, Consolas, Menlo, monospace;
  font-size: 12px;
}
.footer .link {
  color: #9CA3AF;
}
.footer .link:hover {
  text-decoration: none;
  color: #6B7280;
}

.form {
  width: 100%;
  box-sizing: border-box;
}

.news {
  margin: 7.5px 0;
}
.news-head {
  display: grid;
  grid-template-columns: 27px 1fr;
  grid-template-rows: auto auto;
  column-gap: 2px;
  row-gap: 0px;
}
.news-head-small {
  grid-template-columns: 14px 1fr;
}
.news-content {
  margin: 20px 0 0 14px;
}
.news-pre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-bottom: 4px;
}
.news-header {
  margin-bottom: 4px;
}
.news-footer {
  color: #9CA3AF;
  font-size: 12px;
}
.news-header, .news-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.news-index {
  color: #9CA3AF;
  font-size: 14px;
}
.news-link {
  color: #14191f;
  text-decoration: none;
}
.news-info {
  color: #9CA3AF;
  text-decoration: none;
}
.news-info:hover {
  color: #6b7280;
  text-decoration: underline;
}
.news-link:visited {
  color: #6b7280;
}
.news-discussion, .news-domain {
  color: #9CA3AF;
  margin-left: 5px;
  font-size: 12px;
}
.news-domain:hover {
  color: #6b7280;
}
.news-title {
  display: inline-block;
  max-width: 900px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.item-comment, .item-form {
  margin: 30px 14px 0 14px;
}
.item-comment > form, .item-form > form {
  display: inline-flex;
  flex-direction: column;
}

.comments {
  margin-top: 30px;
  padding-right: 14px;
}

.comment-wrapper {
  display: flex;
  flex-direction: row;
}
.comment-content {
  display: grid;
  grid-template-columns: 18px 1fr;
  grid-template-rows: auto auto;
  column-gap: 2px;
  row-gap: 15px;
  line-height: 1.2;
}
.comment .link {
  text-decoration: underline;
  font-size: 12px;
}
.comment-header, .comment-footer {
  color: #9CA3AF;
  font-size: 12px;
}
.comment-header .link, .comment-footer .link {
  color: #9CA3AF;
  margin: 0;
  text-decoration: none;
}
.comment-toggle {
  color: #9CA3AF;
  font-size: 11px;
  cursor: pointer;
  user-select: none;
}

.profile {
  width: 500px;
  margin: 5px 0 20px 14px;
}
.profile .grid {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-button {
  font-size: 14px;
  margin: 20px 0 12px 0;
}

.input,
.textarea,
.form-input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.05);
  border-color: #dbdbdb;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 1.2;
  padding: 4px 7.5px;
  min-width: 35%;
}

.input {
  margin-top: 10px;
}

.textarea-full {
  width: 100%;
  box-sizing: border-box;
}

.help {
  color: #9CA3AF;
  font-size: 12px;
  margin-top: 5px;
}

.arrow-vote {
  width: 0;
  height: 1px;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-bottom: 9px solid #9CA3AF;
  cursor: pointer;
  margin: 0;
  margin-right: 3px;
}
.arrow-vote:hover {
  border-bottom: 9px solid #6b7280;
}

.separator:before {
  content: "|";
  margin: 0 5px;
}

.title {
  color: #24292f;
  font-size: 22px;
  font-weight: bold;
  margin: 0.5rem 0 1.25rem 0;
}

.section {
  margin-left: 14px;
  margin-bottom: 20px;
}

.link {
  color: #24292f;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.spacer {
  margin: 20px;
  height: 1px;
}

.label {
  margin-top: 15px;
  margin-bottom: 10px;
}

.markdown {
  float: right;
}
.markdown-container {
  margin-top: 3px;
}
.markdown path {
  fill: #9CA3AF;
}
.markdown:hover path {
  fill: #6b7280;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
